/* Big tablets to 1200px (widths smaller than the 1140px row defined for our website)*/
@media only screen and (max-width: 1200px) {
}

/* Small tablets to big tablets: from 768px to 1023px*/
@media only screen and (max-width: 1023px) {
  .navbar-toggler:active,
  .nav-link:active,
  .navActiveLink:active {
    transform: scale(1);
  }
}

/* Small phones to small tablets: from 481px to 767px*/
@media only screen and (max-width: 767px) {
  .avatar {
    width: 30%;
  }

  .contact-github,
  .contact-soundcloud,
  .contact-instagram,
  .contact-linkedin {
    font-size: 4rem;
  }
}

/* Small phones: from 0 to 480px  */
@media only screen and (max-width: 480px) {
  .svg-images {
    padding: 0;
  }

  p.fs-3.mb-0,
  p.fs-3 {
    font-size: 1rem !important;
  }

  .p-about-intro {
    font-size: 1.6rem !important;
  }
}
