:root {
  /* Portfolio Colors */
  --black-1: #000000;
  --white-1: #ffffff;

  --page-load-pink: #ff007f;

  /* NAV */
  --nav-back-color: #800080;
  --nav-toggler-color: rgba(255, 255, 255, 0.463);

  /* Section: About */
  --sec-title-color: #e3b505;
  --about-resume-color: #b90784;
  --about-intro-color: #ff007f;
  --about-keywords-color: #2ecc71;

  /* Section: Work */
  --work-github-current: #bd2c00;
  --work-github-hover: #a12701;
}

* {
  box-sizing: border-box;
}

/* MAIN PAGE ITEMS ---------------------------------------------------- */

body {
  background-color: var(--black-1);
  font-family: 'Suez One', serif;
  /* For items to sit well with navbar  */
  margin: 5.2rem 0.5rem 0 0.5rem;
  transition: all 0.5s ease-in;
}

/* For Dark Mode */
body.light {
  background-color: var(--white-1);
  font-family: 'Suez One', serif;
  /* For items to sit well with navbar  */
  margin: 5.2rem 0.5rem 0 0.5rem;
}

/* JQUERY -----------------------------------------------------------------*/
/* Disable jQuery UI Focus Glow */

*:focus {
  outline: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* REUSABLE ITEMS ---------------------------------------------------- */
.hidden {
  display: none;
}

/* PAGE LOAD ITEMS ---------------------------------------------------- */

#btnPlay:focus,
#btnPlay:active {
  outline: none;
  box-shadow: none;
}

.page-load {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 400px;
  height: 100px;
  text-align: center;
  color: var(--page-load-pink);
}

/* SOUND + COLORS */
.hover-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.square {
  background-color: #1d1d1d;
  /* box-shadow: 0 0 2px var(--black-1); */
  height: 20px;
  width: 20px;
  margin: 2px;
  transition: 2s ease;
}

.square:hover {
  transition-duration: 0s;
}

.page-load-btn {
  display: flex;
  justify-content: center;
}

/* BUTTONS ---------------------------------------- */
button:focus,
button:active,
/* Added the below as the reset button stayed in focus after click which I did not want */
button:focus:not(:focus-visible) {
  outline: none;
  box-shadow: none;
}

button:active {
  transform: scale(1.2);
  transition: 0.15s transform;
}

#toggleDarkMode {
  transition: all 0.5s ease-in;
}

#toggleDarkMode:active {
  transform: scale(1.2);
  transition: 0.15s transform;
}

#toggleDarkMode:focus,
#toggleDarkMode:active {
  outline: none;
  box-shadow: none;
}

/* BOOTSRAP --------------------------------------- */
.bg-dark,
.btn-dark {
  background-color: var(--black-1) !important;
}

/* BOOTSRAP --------------------------------------- */
/* To fix the slight change in height between media sizes */
/* Transition between light and dark */
nav {
  min-height: 4.2rem;
  transition: all 0.5s ease-in;
  background-color: var(--nav-back-color);
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.463)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.705);
  border-width: 3px;
  background-color: rgba(0, 0, 0, 0.486);
}

.custom-toggler:active,
.navbar-toggler:active {
  transform: scale(1.2);
  transition: 0.15s transform;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

/* SECTION: ALL ---------------------------------- */

#master-about,
#master-work,
#master-contact,
#footer {
  transition: all 0.5s ease-in;
}

/* SECTION: ABOUT + WORK ---------------------------------- */

.section-title {
  color: var(--sec-title-color);
}

/* SECTION: ABOUT ---------------------------------- */

#section-about {
  letter-spacing: 1px;
  transition: all 0.5s ease-in;
}

.display-1 {
  font-size: 6rem;
}

.p-about-intro {
  color: var(--about-intro-color);
}

.p-about-key {
  color: var(--about-keywords-color);
}

.resume {
  color: var(--about-resume-color);
}

.bg-secondary {
  color: #000;
}

/* SECTION: WORK ---------------------------------- */

object {
  height: 600px;
  width: 100%;
}

.work-border {
  border-width: 0.2rem;
}

/* PROJECTS */
.work-container {
  position: relative;
}

.logo-github {
  position: absolute;
  z-index: 1;
  left: 0.3%;
  top: 89%;

  font-size: 400%;
  cursor: pointer;
  color: var(--work-github-current);
}

.logo-github:hover {
  color: var(--work-github-hover);
}

#navAbout {
  color: #000;
}

/* LOGO COLORS */

.contact-github,
.contact-soundcloud,
.contact-instagram,
.contact-linkedin {
  font-size: 6rem;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.contact-github {
  color: #4078c0;
}

.contact-linkedin {
  color: #006192;
}

.contact-soundcloud {
  color: #cc5b26;
}

.contact-instagram {
  color: #923876;
}

.contact-github:hover {
  color: #3494e4;
}

.contact-linkedin:hover {
  color: #3494e4;
}

.contact-soundcloud:hover {
  color: #fe5000;
}

.contact-instagram:hover {
  color: #bc2a8d;
}
