:root {
  --bs-jquery-light: #f8f9fa;
  --temp-white-1: #fff;
  --temp-white-2: #ecf0f1;
  --temp-white-3: #fafafa;
  --temp-white-4: #f5f5f5;
  --temp-white-5: #fef9f2;

  --temp-grey-1: #d0d0d0;
  --temp-grey-2: #aaa;
  --temp-grey-3: #9fa4a8;
  --temp-grey-4: #777;

  --bs-jquery-orange: #fd7e14;
  --bs-jquery-yellow: #ffc107;
  --bs-jquery-warning: #ffc107;
  --temp-yellow-1: #efedd6;
  --temp-yellow-2: #f6e58d;
  --temp-yellow-3: #f9ca24;
  --temp-yellow-4: #ffb866;

  --bs-jquery-green: #198754;
  --bs-jquery-teal: #20c997;
  --temp-green-1: #2ecc71;

  --bs-jquery-blue: #0d6efd;
  --bs-jquery-primary: #0d6efd;
  --bs-jquery-info: #0dcaf0;
  --bs-jquery-cyan: #0dcaf0;
  --temp-blue-1: #add8e6;
  --temp-blue-2: #3498db;
  --temp-blue-3: #3494e4;
  --temp-blue-4: #5290f9;
  --temp-blue-5: #2a86ba;
  --temp-blue-6: #4682b4;
  --temp-blue-7: #2c3e50;

  --bs-jquery-dark: #212529;
  --bs-jquery-gray-dark: #343a40;
  --bs-jquery-gray: #6c757d;
  --temp-black-1: #111;
  --temp-black-2: #000;
  --temp-black-3: #1d1d1d;
  --temp-black-4: #302d2b;
  --temp-black-5: #252e33;

  --bs-jquery-pink: #d63384;
  --temp-pink-1: #ff007f;
  --temp-pink-2: #fd3555;

  --bs-jquery-red: #dc3545;

  --bs-jquery-indigo: #6610f2;
  --bs-jquery-purple: #6f42c1;
  --temp-purple-1: #476ce4;
  --temp-purple-2: #686de0;
  --temp-purple-3: #4c2885;
  --temp-purple-4: #2a2a72;
  --temp-purple-5: #800080;

  /* Portfolio Colors */
  --black-1: #000000;
  --white-1: #ffffff;

  /* NAV */
  --nav-back-color: #800080;
  --nav-toggler-color: rgba(255, 255, 255, 0.463);

  /* Section: About */
  --sec-title-color: #e3b505;
  --about-resume-color: #b90784;
  --about-intro-color: #ff007f;
  --about-keywords-color: #2ecc71;

  /* Section: Work */
  --work-github-current: #bd2c00;
  --work-github-hover: #a12701;
}

* {
  box-sizing: border-box;
}

/* MAIN PAGE ITEMS ---------------------------------------------------- */

body {
  background-color: var(--black-1);
  font-family: 'Suez One', serif;
  /* For items to sit well with navbar  */
  margin: 5.2rem 0.5rem 0 0.5rem;
  transition: all 0.5s ease-in;
}

/* For Dark Mode */
body.light {
  background-color: var(--white-1);
  font-family: 'Suez One', serif;
  /* For items to sit well with navbar  */
  margin: 5.2rem 0.5rem 0 0.5rem;
}

/* JQUERY -----------------------------------------------------------------*/
/* Disable jQuery UI Focus Glow */

*:focus {
  outline: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* REUSABLE ITEMS ---------------------------------------------------- */
.hidden {
  display: none;
}

/* PAGE LOAD ITEMS ---------------------------------------------------- */

#btnPlay:focus,
#btnPlay:active {
  outline: none;
  box-shadow: none;
}

.page-load {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 400px;
  height: 100px;
  text-align: center;
  color: var(--temp-pink-1);
}

/* SOUND + COLORS */
.hover-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.square {
  background-color: #1d1d1d;
  /* box-shadow: 0 0 2px var(--black-1); */
  height: 20px;
  width: 20px;
  margin: 2px;
  transition: 2s ease;
}

.square:hover {
  transition-duration: 0s;
}

.page-load-btn {
  display: flex;
  justify-content: center;
}

/* BUTTONS ---------------------------------------- */
button:focus,
button:active {
  outline: none;
  box-shadow: none;
}

button:active {
  transform: scale(1.2);
  transition: 0.15s transform;
}

#toggleDarkMode {
  transition: all 0.5s ease-in;
}

#toggleDarkMode:active {
  transform: scale(1.2);
  transition: 0.15s transform;
}

#toggleDarkMode:focus,
#toggleDarkMode:active {
  outline: none;
  box-shadow: none;
}

/* BOOTSRAP --------------------------------------- */
.bg-dark,
.btn-dark {
  background-color: var(--black-1) !important;
}

/* BOOTSRAP --------------------------------------- */
/* To fix the slight change in height between media sizes */
/* Transition between light and dark */
nav {
  min-height: 4.2rem;
  transition: all 0.5s ease-in;
  background-color: var(--nav-back-color);
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.463)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.705);
  border-width: 3px;
  background-color: rgba(0, 0, 0, 0.486);
}

.custom-toggler:active,
.navbar-toggler:active {
  transform: scale(1.2);
  transition: 0.15s transform;
}

/* .custom-toggler:hover {
  color: var(--nav-bar-toggler);
  transition: 0.15s color;
} */

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

/* SECTION: ALL ---------------------------------- */

#master-about,
#master-work,
#master-contact,
#footer {
  transition: all 0.5s ease-in;
}

/* SECTION: ABOUT + WORK ---------------------------------- */

.section-title {
  color: var(--sec-title-color);
}

/* SECTION: ABOUT ---------------------------------- */

#section-about {
  letter-spacing: 1px;
  transition: all 0.5s ease-in;
}

.display-1 {
  font-size: 6rem;
}

.p-about-intro {
  color: var(--about-intro-color);
}

.p-about-key {
  color: var(--about-keywords-color);
}

.resume {
  color: var(--about-resume-color);
}

.bg-secondary {
  color: #000;
}

/* SECTION: WORK ---------------------------------- */

object {
  height: 600px;
  width: 100%;
}

.work-border {
  border-width: 0.2rem;
}

/* PROJECTS */
.work-container {
  position: relative;
}

.logo-github {
  position: absolute;
  z-index: 1;
  left: 0.3%;
  top: 89%;

  font-size: 400%;
  cursor: pointer;
  color: var(--work-github-current);
}

.logo-github:hover {
  color: var(--work-github-hover);
}

#navAbout {
  color: #000;
}

/* LOGO COLORS */

.contact-github,
.contact-soundcloud,
.contact-instagram,
.contact-linkedin {
  font-size: 6rem;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.contact-github {
  color: #4078c0;
}

.contact-linkedin {
  color: #2867b2;
}

.contact-soundcloud {
  color: #cc5b26;
}

.contact-instagram {
  color: #923876;
}

.contact-github:hover {
  color: #3494e4;
}

.contact-linkedin:hover {
  color: #3494e4;
}

.contact-soundcloud:hover {
  color: #fe5000;
}

.contact-instagram:hover {
  color: #bc2a8d;
}
